extends layout

block content
  h2 Register
  if error
    .alert.alert-danger= error

  form(action="/register", method="POST")
    .mb-3
      label.form-label(for="email") Email
      input.form-control(type="email", name="email", required)
    .mb-3
      label.form-label(for="password") Password
      input.form-control(type="password", name="password", required)
    button.btn.btn-primary(type="submit") Register

  p.mt-3
    | Already have an account?
    a(href="/login") Login here
